Django>=5.1,<6.0
pytz
sqlparse
asgiref
Pillow

# Optional: Uncomment if using a database other than SQLite
# psycopg2-binary  # For PostgreSQL
# mysqlclient      # For MySQL

# Optional: Uncomment if using crispy forms
# django-crispy-forms

# Optional: Uncomment if using django-widget-tweaks
# django-widget-